/*** GLOBALS  ***/

html, body {
    font-family: 'Helvetica', sans-serif;
    height: 100%;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
}

ul li a {
    color: #2A5EC8;
}

a:hover {
    text-decoration: none;
}

/*** Index ***/

#wrap {
    min-height: 100%;
    height: auto;
    margin: 100px auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.footerInfo {
    margin-top: 20px;
    color: #793787;
}

/*** Navbar ***/

.navbar-default {
    background-color: #832fc8;
}

.brandLogo {
    margin-top: -10px;
    font-size: 28px;
    color: ghostwhite !important;
}

.login {
    margin-top: 18px;
}

.login ul span a {
    font-size: 18px;
    color: ghostwhite;
}

/*** Searchbar ***/

.searchbar {
    z-index: 30px;
}

.searchBtn {
    background-color: #7518C2;
    color: ghostwhite;
}

.searchBtn:hover {
    background-color: rgba(117, 24, 194, 0.7);
    color: ghostwhite;
}

.searchBtn:active {
    background-color: rgba(117, 24, 194, 0.9);
    color: ghostwhite;
}

.mainView {
    margin-top: 50px;
}

.background {
    background: url(../img/homePic.jpg) no-repeat;
    height: 550px;
    border-top: 4px solid #2A5EC8;
    border-bottom: 4px solid #7518C2;
}

.mySpacing {
    margin-bottom: 50px;
}

/*** User Page  ***/

.userText {
    color: #2A5EC8;
}

.userText:hover {
    color: #7518C2;
}

.userTitle, .upcoming {
    color: #3F279D;
}

.userTitle:hover, .upcoming:hover {
    color: #793787;
}

.clrChng {
    color: #793787;
    font-size: 22px;
}

.bdg-color {
    background-color: #832fc8;
}

#frndSrch {
    margin-bottom: 25px;
}

.friendsList {
    font-size: 18px;
    color: #2A5EC8;
}

.btn-link:hover {
    text-decoration: none !important;
}

/*** Show Page ***/

.btn-buyTicket {
    background-color: #8D208F;
    color: rgba(42, 94, 200, 0.7);
}

.btn-buyTicket:hover {
    background-color: rgba(141, 32, 143, 0.7);
    color: ghostwhite;
}

/*** Under Construction ***/
.progress-bar {
    width: 60%;
}

.under {
    margin-top: 125px;
}

.progress-bar-success {
    background-color: #832fc8 !important;
}
