<div>
    <img ng-src='{{showInfo.image}}' />
    <h2>{{ showInfo.showTitle }}</h2>
    
    <p>{{ showInfo.location }}</p>
    <p>{{ showInfo.date }}</p>
    <p>{{ showInfo.ticketStatus }}</p>
    <p>{{ showInfo.ticketUrl }}</p>
    <p>{{ showInfo.ticketType }}</p>
    <p>{{ showInfo.venue }}</p>
    <p>{{ showInfo.onSale }}</p>

</div>

<div>
    <h4>Your friends who may be interested in this concert...</h4>
    
    <ul>
        <li ng-repeat='friend in friends'>
            <input type="checkbox" value="{{friend.name}}" /><label >{{friend.name}}</label>
        </li>
    </ul>
</div>